.btn {
    padding: 30px;
    background-color: #6d6dff;
    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.main-btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.bg-red {
    background: red;
}

.bg-blue {
    background: aqua;
}

/* pseudo-class 셀렉터를 붙이시면 여러 상태에 따른 스타일을 지정해줄 수 있습니다.
hover, focus, active 스타일 넣을 때 순서는 꼭 이렇게 선언해야 잘 동작합니다.

1. hover

2. focus

3. active

입니다. hofa로 외우면 잘외워지겠군요 
이거 말고도 수많은 pseudo-class가 있기 때문에 필요하면 찾아쓰도록 합시다. */

/* 마우스 커서 위에올리면 색변경 */
.btn:hover {
    background-color: blue;
}

/*클릭 후 계속 포커스 상태일 때*/
.btn:focus {
    background-color: aquamarine;
}

/*클릭 중일 때*/
.btn:active {
    background-color: rgb(152, 152, 216);
    border: 2px solid black;
}
/* 입력창에 커서 올린상태 */
.input-test:focus {
    border: 2px solid red;
}

/* 모든 링크의 밑줄제거는 그냥 태그에 text-decoration : none 붙이면 됩니다.  */
.custom__link {
    text-decoration: none;
}

/*방문 전 링크*/
.custom__link:link {
    color: blue;
}

/*방문 후 링크*/ 
.custom__link:visited {
    color: black;
}