 /* width: 100%의 %는 부모태그 크기를 기준으로 크기 %를 정한다 -->
 가운데정렬을 원한다면 아래 3가지를 넣어주자
    display : block;
    margin-left : auto;
    margin-right : auto;" */

.profile {
    width: 150px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-size: 20px;
}

.subtitle {
    text-align: center;
}

/* 
<셀렉터 종류>
.profile { font-size : 20px }  /*클래스 셀렉터
#special { font-size : 30px } /*아이디*/
/* p { font-size : 16px } 모든 p 태그  */

/* 
이후 오류를 찾을때 우선순위때문이 아닌지 파악 필요
 class, id를 동시에 가지는 html 요소라면
스타일이 겹칠 수 있습니다. 그럴 경우 우선순위가 존재합니다.

직접 태그에 스타일 적용: style="" (1000점)
#id (100점)
.class (10점) 
p (1점) 
inherit 되는 스타일 (-999점_중요도 가장 낮음)*/

/* 아래와 같이 class,id가 같은 태그요소에 다른 색갈을 적용해도 
이미 최고 우선순위인 style로 blue를 적용해서 바뀌지 않는다 */
#name {
    color:azure;
}

.name {
    color:blueviolet;
}



/* font-size, color, font-family, text-align 이런 속성들은
부모 태그(div)에 쥐어주면 거기 안에 있던 태그들까지 전부 상속됩니다. 
영어로 inherit 된다고합니다.  */

/* background-color는 배경/ color는 글자색 */
.box {
    width: 200px;
    background-color: aquamarine;
    /* margin은 바깥여백
        padding은 안쪽여백 */
    margin: 10px;
    padding: 40px;
    /* border = 테두리 디자인 */
    border-radius: 5px;

    /* 가운데 정렬 */
        /* div 태그경우 가운데 정렬에 필요한 3요소중 
        가로행 전체를 차지하는 기능인, display: block;를 이미 포함 */
        /* 그러므로 div 태그 사용시 margin 2요소만 넣어주면 된다 */
    margin-left: auto;
    margin-right: auto;

    font-size: 14px;
    color:rgb(119, 119, 119);
    text-align: center;

    box-shadow: 5px 5px black;
}

