/* 고수들은 아래 div- box-sizing / body 0px css 처음부터지정 기본 */

*{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/* HTML의 속성으로 CSS셀렉터를 사용할 수 있습니다.
input[type=email] {
  color : grey
} */

.form-background {
    background-color: black;
    /* 내부크기 정할때는 padding을 먼저 넣자 */
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin:auto;
}

.form-input {
    padding: 10px;
    /* input width 조절시 반드시 box-sizing: border-box; 추가하기
    input경우 기본 20px width값이 존재하므로,
    그냥 width만 100넣으면 input 총길이가 100% + 20px로 이상하게 나옴
    그러므로 box-sizing을 통해 width를 전체 절대 값으로 지정 */
    width: 100%;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

/* 특정 요소와 크기 맞추기 -> 이외 요소들까지 묶어서 10px패딩넣기  */
.w-100 {
    width: 100%;
    padding: 10px;
}

.yellow_button {
    padding: 10px;
    /* 왼쪽 정렬 */
    display: block;
    margin-left: auto;
}