.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.left {
    width: 70%;
    height: 250px;
    float: left;
}

.left__Header {
    padding-top: 8px;
    padding-left: 5px;
    width: 100%;
    height: 20%;
    clear:both;
    
}

.circle__profile {
    margin-left: 5px;
    width: 8.5%;
    height: 80%; 
    border-radius: 70%;
    overflow: hidden;
    float: left;

}

/* object-fit: cover; 비율은 그대로 유지한 채로 이미지를 가공할 수 있어요. */
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {  
    margin-left: 9px;
    float: left;
}

.text__nickname {
    font-size: 17px;
}

.text__time {
    font-size: 13px;
    color: gray;
}

.left__Body{
    padding-top: 8px;
    padding-left: 13px;

    width: 100%;
    height: 80%;
    clear:both;

}

.left__Body__contents{
    text-overflow:clip;
    margin-top: 7px;
    font-size: 13px;
    color: gray;

}

.right {
    width: 30%;
    height: 250px;
    float: left;

}

.photo {
    padding: 22px;


    width: 100%;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
}