.profile {
    width: 300px;
    
    /* 가운데 정렬 3총사 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    /* vw 현재 페이지 맞춤으로 3배수 크기 폰트 사이즈 */
    font-size: 3vw;
    /* letter-spacing 글자간격 */
    letter-spacing: -2px;
    margin-top: 10px;
    margin-bottom: -6px;
}

.subtitle {
    text-align: center;
    
}


.box {
    width: 400px;
    background-color:antiquewhite;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;

    margin-left: auto;
    margin-right: auto;

    font-size: 17px;
    color:rgb(119, 119, 119);
    text-align: center;

    box-shadow: 5px 5px black;
}