.container {
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    
    width:100%;
    height: 100px;
    background-color: aquamarine;
    border-radius: 5px;
    text-align: center;
    
}


.left-menu {
    width: 19%;
    height: 500px;
    float: left;
    border-right: 1px solid black;
    text-align: center;
}

.right {
    width: 79%;
    height: 470px;
    padding:10px;
    float: left;
    text-align: center;
}

.footer {
    width: 100%;
    height: 100px;
    clear: both;
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
}


/* 네비게이션 바 만들기 -----------------------------------------*/
.nav_box {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: beige;
    text-align: center;


}

.navbar li {
    /* 줄바꿈 없애기 */
    display: inline-block;
    margin-left: 20px;

}

.navbar a{
    font-size: 16px;
    /* 링크 줄 없애기 */
    text-decoration: none;
}


.staring_list a {
    text-decoration: none;
}


