.container {
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.header {
    
    width:100%;
    height: 100px;
    background-color: aquamarine;
    border-radius: 5px;
    text-align: center;
    
}


.left-menu {
    width: 19%;
    height: 480px;
    float: left;
    border-right: 1px solid black;
    text-align: center;
}

.right {
    width: 79%;
    height: 470px;
    padding:2px;
    float: left;
    text-align: center;
}

.footer {
    width: 100%;
    height: 100px;
    clear: both;
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
}


/* 네비게이션 바 만들기 -----------------------------------------*/
.nav_box {
    width: 1200px;
    
    display: block;
    margin-left: 150px;
    margin-right: auto;
    float: left;
    color : black;


    

}

.navbar li {
    /* 줄바꿈 없애기 */
    display: inline-block;
    margin-left: 20px;
    

}

.navbar a{
    font-size: 20px;
    /* 링크 줄 없애기 */
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    color : rgb(58, 58, 58);
}

.logo {
    width: 40px;
    margin-right: 10px;
}


.staring_list a {
    text-decoration: none;
}


