*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: rgb(144, 255, 153);
}

.form-background{
    width: 100%;
    max-width: 1000px;
    height: 500px;

    margin:auto;
    margin-top: 120px;
    clear: both;

    border-radius: 10px;
}

.storeshot{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.left {
    width: 40%;
    height: 500px;
    float: left;
}

.right {
    width: 60%;
    height: 100%;
    float: left;
    border-radius: 0px 10px 10px 0px;
    background: white;
    padding: 45px 120px;
}

.title1{
    font-size: 30px;
}

.title2{
    font-size: 35px;
    font-weight: bold;
    color: red;
    margin-left: 5px;
}

.title3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(54, 187, 54);
}


.w-50 {
    width: 45%;
    float: left;
    border: 1px solid black;
    padding:5px;
    border-radius: 5px;
    
    text-align: center;
}

.w-100 {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    }

input [type=text] {
    border: 1px solid rgba(172, 172, 172, 0.295);

}

button {
    width: 100%;
    padding:10px;
    border-radius: 5px;
    border:none;
    background: rgb(144, 255, 153);
    margin-top: 8px;
}    

.home__button{
    width: 110px;
    padding:20px;
    font-size: 20px;
    background: white;
    border: 5px solid rgb(185, 185, 185);
    border-radius: 10px;
    /* position: 부여하면 원래위치 기준 이동가능 */
    position: fixed;
    top: 610px;
    left: 1380px;
    z-index: 5;
    font-weight: bold;
    justify-content: flex-end;


}

a {
    text-decoration: none;
    color:black
}



