.container {
    width: 700px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
}

.left{
    width: 69%;
    height: 99%;
    float: left;
    border-right: 1px solid rgb(206, 206, 206);
}

.right{
    width: 29%;
    height: 99%;
    float: left;


}

.left__top {
    width: 100%;
    float: left;
    margin: 20px;
    clear:both;
}

.profile{
    float: left;
}

.text{
    float: left;
    margin-left: 10px;
}

.time{
    color: gray;
}

.left_bottom{
    margin: 20px;
}

.photo2 {
    margin-left: 29px;
    margin-top: 29px;
    width: 80%;
    height: 80%;
}