/* 기본설정 ----------------------------------------- */
div {
    box-sizing : border-box;
  }

body {
    margin : 0;
  }




/* 본문 -------------------------------------------- */
.main__background {
    width: 100%;
    height: 500px;
    /* linear-gradient 이미지 검은색 + 투명도 0.3 */
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./images/kim\'s\ convenience2.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(60%) saturate(200%); */
    padding: 1px; /* margin collapse effect을 막기 위해 추가*/
    margin-bottom: 100px;
    text-align: center;

    clear: both;
}

.main__title {
    color: white;
    font-size: 70px;
    margin-top: 240px;
}

.main__button{
    padding:20px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    /* position: 부여하면 원래위치 기준 이동가능 */
    position: relative;
    top: 50px;
    z-index: 5;
    margin-top: -10000px;
}

.home__button{
    padding:20px;
    font-size: 20px;
    background: white;
    border: 5px solid rgb(185, 185, 185);
    border-radius: 10px;
    /* position: 부여하면 원래위치 기준 이동가능 */
    position: fixed;
    top: 610px;
    left: 1350px;
    z-index: 5;
    font-weight: bold;
    justify-content: flex-end;

}

.home__button a{
    color : rgb(58, 58, 58);
    text-decoration: none;
}


.top__button{
    padding:10px;
    font-size: 20px;
    background: white;
    border: 5px solid rgb(185, 185, 185);
    border-radius: 10px;
    /* position: 부여하면 원래위치 기준 이동가능 */
    position: fixed;
    font-weight: bold;
    top: 625px;
    left: 1305px;
    z-index: 5;

    justify-content: flex-end;

}

.top__button a{
    font-size: 20px;
    /* 링크 줄 없애기 */
    text-decoration: none;

    margin-top: 50px;
    color : rgb(58, 58, 58);

}

.mini__box {
    width: 80%;
    max-width: 700px;
    margin:auto;

    position: relative;
    top: -160px;
    z-index: 1;

    margin-bottom: 20px;
}

.container {
    width: 700px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background: antiquewhite;
}


.right{
    padding: 10px;
    width: 60%;
    height: 92%;
    
    float: left;

}

.left{
    width: 30%;
    height: 100%;
    float: left;
}



.right__top {
    width: 100%;
    float: left;
    margin: 20px;
    clear:both;
}

.profile{
    float: left;
}


.photo2 {
    margin-left: 29px;
    margin-top: 29px;
    margin-bottom: 7.6px;
    width: 80%;
    height: 80%;
}


.nav_box {
    width: 100%;
    margin-left: 485px;
    margin-right: auto;
    display: inline-block;


}

.navbar li {
    /* 줄바꿈 없애기 */
    display: inline-block;
    margin-left: 20px;
    
    

}

.navbar a{
    font-size: 20px;
    /* 링크 줄 없애기 */
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    color : rgb(58, 58, 58);
}

.logo {
    width: 40px;
    margin-right: 10px;
}